            :root{
                --yellow: #F1E43E;
                --gray: #403E3F;
            }       
            @font-face{
                font-family: CUNY;
                src: url(font/UniversLTStd-Bold.otf);
                
            }
            
            @font-face {
                font-family: CUNYsmall;
                src: url(font/UniversLTStd.otf);
            }
            
            @font-face{
                font-family: title;
                src: url(font/Gibson-Bold.ttf);
            }
            
            a{
                text-decoration: none;
                color: inherit;
            }

            a:hover{
                color:var(--yellow);
                transition: 0.5s;
            }

            html, body{
                font-family: CUNY, sans-serif;
                color: white;
                width: 100%;
                height: 100%;
                margin: 0px;
                padding: 0px;
                overflow-x: hidden; 
            }
            
            #video {
                  position: fixed;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  overflow: hidden;
                  z-index: -100;
            }
            
            .fullscreen-bg__video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            
            
            #title {
                font-size: 7em;
                line-height: 0;
                font-weight:bold
            }
            
           
            header{
                width: 100vw;
                height: 100vh;
/*                background-color: red;*/
            }
            
            .header-center{
                position: relative;
                top: 40%;
                transform: translateY(-50%);
                margin: 0 auto;
                text-align: center;
                width: 80%;
                height: 30%;
/*                background-color:blue;*/
            }
            
            
            .rsvp{
                margin-top: 20px;
                padding: 15px;
                padding-left: 40px;
                padding-right: 40px;
                background-color:var(--gray);
                color: white;
                border-color: var(--yellow);
                font-family: CUNY;
                font-size: 1.2em;
                border-radius: 5px;
            }
            
            .rsvp:hover{
                background-color: var(--yellow);
                color: var(--gray);
                border-color: var(--gray);
            }
            
            /* STARTS theme and map section */
            .dark {
                padding-top: 40px;
                padding-bottom: 60px;
                background-color:var(--gray);
                width: 100vw;
            }
            
            .dark-center{
                text-align: center;
                width: 70%;
                margin: 0 auto;
            }  /* END theme and map  section */
            
            
            /* STARTS about and when section */
            .yellow {
                background-color: var(--yellow);
                color: var(--gray);
                width: 100vw;
                padding-top: 40px;
                padding-bottom: 60px;
            }
            
            .yellow-center{
                text-align: center;
                width: 70%;
                margin: 0 auto;
            }  /* ENDS about and when section*/
            
            /* STARTS about prize and sponsors section */
            .white {
                background-color: white;
                color: var(--gray);
                width: 100vw;
                padding-top: 40px;
                padding-bottom: 60px;
            }
            
            .white-center{
                text-align: center;
                width: 70%;
                margin: 0 auto;
            } /* ENDS about prize and sponsors section */
            
            /*STARTS qualifications section */
            .qualifications {
                background-image: url(img/college_background.png);
                color: var(--gray);
                width: 100vw;
                padding-top: 100px;
                padding-bottom: 100px;
            }
            
            .qualifications-center{
                text-align: center;
                width: 70%;
                margin: 0 auto;
            }

            #quali{
                font-size: 2.5em;
                line-height: 1;
                font-weight: 600;
                color:var(--gray);
                font-family: title;
                text-align: center;
            }
            
            /*ENDS qualifications section */
            
            .smallLines{
                background-color:var(--gray);
                font-size: 3px;
                width: 20%;
                margin: 0 auto;
            }
            
            .lines{
                background-color: white;
                font-size: 8px;
                width: 50%;
                margin: 0 auto;
            }
            .floatLeft{
                width: 33%;
                float:left;
            }
            
            .clearboth{
                clear:left;
            }
            
            footer{
                background-color: black;
                height: 3em;
            }
            
            .footer{
                text-align: center;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                font-family: CUNYsmall;
            }
            
            .padding-up{
                padding-top: 70px;
            }
            
            .padding-down{
                padding-bottom: 70px;
            }